#students {
  text-align: center;
  margin-top: 10px;
  overflow: hidden;
  font-size: 45px;
  height: calc(100% - 350px);
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 2px;
}
