body {
  background: url('background.gif') no-repeat center center fixed;
  background-size: cover;
}

@font-face {
  font-family: 'Courier New';
  font-style: normal;
  font-weight: normal;
}

* {
  font-family: 'Courier New';
  color: White;
}

.centerContainer {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#quoteText {
  text-align: center;
  font-size: 40px;
  padding-top: 30px;
}

#divider {
  height: 5px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: White;
  margin-top: 20px;
  margin-bottom: 30px;
}

#logo {
  width: 100%;
}

#membersList {
  text-align: center;
  margin-top: 30px;
  overflow: hidden;
  font-size: 80px;
  height: calc(100% - 450px);
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 6px;
}

#membersList:hover {
  padding-right: 0px;
  overflow: auto;
}

.scrollbar::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.3);
}

.scrollbar::-webkit-scrollbar {
	width: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.5);
}

a {
    text-decoration: none;
}

